*{
    padding: 0;
    margin: 0;
    user-select: none;
}
body{
    background: url(q.png);
}
.menu{
    text-align: center;
    position: absolute;
    top: 20px;
    right: 300px;
}
.a{
    text-decoration: none;
    margin: 20px;
    color: aliceblue;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h1{
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 40px;
}
.navigation .btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 146, 3);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 115, 0);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    position: absolute;
    right: 50px;
    top: 10px;

}
.navigation .btn:hover{
    background: rgb(255, 136, 0);
    color: white;
}

.p1{
    color: white;
    position: absolute;
    top: 320px;
    right: 800px;
    font-size: 60px;
}
.p2{
    position: absolute;
    top: 390px;
    left: 87px;
    font-size: 60px;
    color: orange;
}
.img{
    position: absolute;
    top: 43px;
    right: 170px;
}



